site_name: Time Series Unified Toolbox
site_url: https://AdrienBolling.github.io/TimeSeriesUnifiedToolbox/
repo_url: https://github.com/AdrienBolling/TimeSeriesUnifiedToolbox
repo_name: AdrienBolling/TimeSeriesUnifiedToolbox

theme:
  name: material
  features:
    - navigation.sections
    - navigation.indexes
    - content.code.copy

nav:
  - Home: index.md
  - API: api.md

plugins:
  - search
  - autorefs
  - mkdocstrings:
      handlers:
        python:
          paths: [src]
          options:
            docstring_style: numpy # or "numpy"
            docstring_options:
              ignore_init_summary: true
            show_source: true
            separate_signature: true
            inherited_members: true
            members_order: source
            merge_init_into_class: true

markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - toc:
      permalink: true
